.sidebar-group {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
  width: 379px;

  .sidebar {
    background: #fafbff;
    overflow: hidden;
    width: 379px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.top-contacts-box {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 4px #f5f8ff;
  border-radius: 5px;
  padding: 0 6px 8px 6px;

  .profile-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.top-contacts-box .profile-img {
  position: relative;
  top: -6px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.profile-name {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;

  span {
    color: #585858;
    font-size: 12px;
    display: inline-block;
    margin-top: 9px;
  }
}

.sidebar-body {
  flex: 1;
  overflow: auto;
  padding: 10px 25px;
  width: 100%;
}

.left-chat-title {
  padding: 10px 25px;
}

.chat-title h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4b0973;
  margin-bottom: 0;
}

.left-chat-title {
  .add-section {
    a {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      border: 1px solid #d3dbee;
      background-color: #fff;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      box-shadow: 0 4px 4px #f5f8ff;
      font-size: 10px;
      color: #420ba1;

      .MuiSvgIcon-root {
        width: auto;
        height: 70%;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        float: left;

        + li {
          margin-left: 10px;
        }
      }
    }
  }
}

.search_chat {
  position: relative;
  margin: 0 25px 17px;
}

.form-control-feedback {
  z-index: 2;
  display: block;
  text-align: center;
  pointer-events: none;
  color: #680a83;
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

body .chat_input {
  border-radius: 6px;
  padding: 8px 8px 8px 35px;
  width: 100%;
  min-height: 47px;
  box-shadow: 0 4px 4px #f5f8ff;
  border: 1px solid #f3f3f3;
  font-size: 13px;
}

.user-list {
  border-radius: 0.25rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;

  li {
    padding: 17px 20px;
    display: flex;
    display: -webkit-flex;
    cursor: pointer;
    margin-bottom: 3px;
    border: 0;
    background: #ffffff;
    box-shadow: 0 4px 4px #f5f8ff;
    border-radius: 3px;
    position: relative;
    transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;
    -ms-transition: ease all 0.5s;

    .avatar {
      margin-right: 0.8rem;
      display: inline-block;
      margin-bottom: 0;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      position: relative;

      .letter-avatar {
        width: 45px;
        height: 45px;
        border-radius: 45px;
        margin-right: 0.8rem;
        margin-bottom: 0;
        position: relative;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        background-color: #e8dbff;
        font-size: 16px;
        font-weight: 600;
        color: var(--primary);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .avatar-away::before,
    .avatar-offline::before,
    .avatar-online::before {
      content: "";
      position: absolute;
      display: block;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      bottom: 0;
      right: 2px;
      border: 2px solid #fff;
      z-index: 9;
    }

    .avatar-online::before {
      background-color: var(--third);
    }

    .avatar-away::before {
      background-color: #ffe600;
    }

    .users-list-body {
      flex: 1;
      position: relative;
      min-width: 0;
      display: flex;

      > div:first-child {
        min-width: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      h5 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 7px;
        color: var(--primary);
      }

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
        color: #232323;
        font-size: 13px;
      }

      .last-chat-time {
        padding-left: 15px;
        position: relative;
      }

      .text-muted {
        color: #9f9f9f !important;
        font-weight: 500;
      }

      .new-message-count {
        width: 20px;
        height: 20px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        line-height: 0;
        font-size: 11px;
        background-color: #0057ff;
        color: #fff;
        border-radius: 50%;
        margin-left: auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  li.item-typing {
    background-color: #f1f6ff;
  }
}

.animate-typing-col {
  .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: -1px;
    background: #0d9b35;
    -webkit-animation: wave 1.3s linear infinite;
    animation: wave 1.3s linear infinite;
    opacity: 0.6;

    &:nth-child(2) {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
}
