.right-sidebar {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #fafbff;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  position: relative;
  width: 320px;
  padding: 15px 20px 0;
}

.right-sidebar .right-sidebar-wrap {
  background-color: #fff;
  border: 1px solid #f4eeff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: calc(100vh - 10px);
}

.right-sidebar .sidebar-body {
  padding: 0;
  flex: 1;
  overflow: auto;
  width: 100%;
}

.right-sidebar .sidebar-body .profile-name {
  font-weight: 600;
  color: #4b0973;
  font-size: 18px;
  margin-bottom: 0;
}

.right-sidebar .right-sidebar-profile {
  background-color: #fafbff;
  padding: 17px;
  margin-top: -15px;
}

.right-sidebar .right-sidebar-profile .avatar.avatar-xl {
  height: 6.1rem;
  width: 6.1rem;
}

.right-sidebar .right-sidebar-profile .avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: rgba(66, 11, 161, 0.1);
  padding: 7px;
}

.right-sidebar .right-sidebar-profile .avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online-profile {
  position: relative;
}

.online-profile span {
  position: relative;
  color: #565656;
  font-size: 13px;
  padding-left: 10px;
}

.online-profile span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background-color: #49e073;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.about-media-tabs {
  padding: 12px;
}

.about-media-tabs .nav.nav-tabs {
  border: none;
  line-height: 2;
}

.about-media-tabs .nav.nav-tabs .nav-link {
  text-transform: uppercase;
  border: 0;
  color: #000;
  border-bottom: 1px solid transparent;
  padding: 3px 9px;
  font-size: 13px;
}

.about-media-tabs .nav.nav-tabs .nav-link.active {
  color: #0057ff;
  font-weight: 700;
  border-color: #0057ff;
}

.about-media-tabs .tab-content {
  padding-top: 20px;
}

.about-media-tabs .tab-content > .tab-pane {
  display: none;
}

.about-media-tabs .tab-content > .active {
  display: block;
}

.about-media-tabs p {
  font-weight: 500;
  color: #939393;
}

.about-media-tabs .member-details {
  margin-top: 30px;
}

.about-media-tabs .member-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-media-tabs .member-details ul li {
  display: block;
  width: 100%;
}

.about-media-tabs .member-details ul li h6 {
  font-weight: 600;
  color: #000;
  font-size: 15px;
}

.about-media-tabs .member-details ul li span {
  color: #939393;
  font-weight: 500;
}

.about-media-tabs .member-details ul li + li {
  margin-top: 15px;
}

.about-media-tabs .social-media-col h6,
.about-media-tabs .settings-col h6 {
  font-weight: 600;
  color: #000;
  font-size: 15px;
  margin-bottom: 20px;
}

.about-media-tabs .social-media-col {
  margin-top: 35px;
}

.about-media-tabs .social-media-col:after {
  content: "";
  display: table;
  clear: both;
}

.about-media-tabs .social-media-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-media-tabs .social-media-col ul li {
  float: left;
}

.about-media-tabs .social-media-col ul li + li {
  margin-left: 10px;
}

.about-media-tabs .social-media-col ul li a {
  color: #420ba1;
  font-size: 18px;
}

.about-media-tabs .settings-col {
  margin-top: 35px;
}

.about-media-tabs .settings-col:after {
  content: "";
  display: table;
  clear: both;
}

.about-media-tabs .settings-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-media-tabs .settings-col ul li {
  color: #939393;
  font-weight: 500;
}

.about-media-tabs .settings-col ul li + li {
  margin-top: 15px;
}

.about-media-tabs .settings-col .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  margin-bottom: 0;
  margin-right: 10px;
}

.about-media-tabs .settings-col .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.about-media-tabs .settings-col .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-media-tabs .settings-col .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about-media-tabs .settings-col .switch .slider.round {
  border-radius: 34px;
}

.about-media-tabs .settings-col .switch .slider.round:before {
  border-radius: 50%;
}

.about-media-tabs .settings-col input:checked + .slider {
  background-color: #2196f3;
}

.about-media-tabs .settings-col input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.report-col {
  margin-top: 35px;
  padding: 12px 12px 50px;
}

.report-col:after {
  content: "";
  display: table;
  clear: both;
}

.report-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.report-col ul:after {
  content: "";
  display: table;
  clear: both;
}

.report-col ul li {
  display: block;
  width: 100%;
  font-weight: 500;
  position: relative;
}

.report-col ul li .report-col ul li a {
  color: #ff0000;
  padding-left: 25px;
}

.report-col ul li .report-col ul li a span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
}

.report-col ul li + li {
  margin-top: 19px;
}

.chat-title h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 0;
}

.chat-title .contact-close_call .close_profile,
.chat-title .status-modal .custom-status-close {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: #fff;
  background-color: #ee00ab;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  border-color: #e6e6e6;
  margin-top: 4px !important;
}

/*# sourceMappingURL=RightSidebar.css.map */
