.right-sidebar {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #fafbff;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  position: relative;
  width: 320px;
  padding: 15px 20px 0;

  .right-sidebar-wrap {
    background-color: #fff;
    border: 1px solid #f4eeff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: calc(100vh - 10px);
  }

  .sidebar-body {
    padding: 0;
    flex: 1;
    overflow: auto;
    width: 100%;

    .profile-name {
      font-weight: 600;
      color: #4b0973;
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  .right-sidebar-profile {
    background-color: #fafbff;
    padding: 17px;
    margin-top: -15px;

    .avatar.avatar-xl {
      height: 6.1rem;
      width: 6.1rem;
    }

    .avatar {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      background: rgba(66, 11, 161, 0.1);
      padding: 7px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.online-profile {
  position: relative;

  span {
    position: relative;
    color: #565656;
    font-size: 13px;
    padding-left: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      background-color: #49e073;
      width: 8px;
      height: 8px;
      border-radius: 50px;
    }
  }
}

.about-media-tabs {
  padding: 12px;

  .nav.nav-tabs {
    border: none;
    line-height: 2;

    .nav-link {
      text-transform: uppercase;
      border: 0;
      color: #000;
      border-bottom: 1px solid transparent;
      padding: 3px 9px;
      font-size: 13px;

      &.active {
        color: #0057ff;
        font-weight: 700;
        border-color: #0057ff;
      }
    }
  }

  .tab-content {
    padding-top: 20px;

    > .tab-pane {
      display: none;
    }

    > .active {
      display: block;
    }
  }

  p {
    font-weight: 500;
    color: #939393;
  }

  .member-details {
    margin-top: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        width: 100%;

        h6 {
          font-weight: 600;
          color: #000;
          font-size: 15px;
        }

        span {
          color: #939393;
          font-weight: 500;
        }

        + li {
          margin-top: 15px;
        }
      }
    }
  }

  .social-media-col h6,
  .settings-col h6 {
    font-weight: 600;
    color: #000;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .social-media-col {
    margin-top: 35px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        float: left;

        + li {
          margin-left: 10px;
        }

        a {
          color: #420ba1;
          font-size: 18px;
        }
      }
    }
  }

  .settings-col {
    margin-top: 35px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: #939393;
        font-weight: 500;

        + li {
          margin-top: 15px;
        }
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 23px;
      margin-bottom: 0;
      margin-right: 10px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }

      .slider.round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }

    input:checked + .slider {
      background-color: #2196f3;

      &:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }
    }
  }
}

.report-col {
  margin-top: 35px;
  padding: 12px 12px 50px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    li {
      display: block;
      width: 100%;
      font-weight: 500;
      position: relative;

      .report-col ul li a {
        color: #ff0000;
        padding-left: 25px;

        span {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 16px;
        }
      }

      + li {
        margin-top: 19px;
      }
    }
  }
}

.chat-title {
  h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0;
  }

  .contact-close_call .close_profile,
  .status-modal .custom-status-close {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    color: #fff;
    background-color: #ee00ab;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    border-color: #e6e6e6;
    margin-top: 4px !important;
  }
}
