.sidebarMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 85px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgb(66 11 161 / 20%);
  z-index: 999;
  padding: 20px;

  .logo-col {
    text-align: center;
  }

  .menus-col {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: calc(100vh - 76px);
  }

  .chat-menus {
    margin-top: 50px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        position: relative;

        + li {
          margin-top: 30px;
        }

        a {
          display: flex;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          width: 46px;
          height: 42px;
          background-color: #f4f4fa;
          border-radius: 5px;

          .MuiSvgIcon-root {
            color: var(--primary);
            font-size: 22px;
            padding: 0;
            position: static;
            opacity: 1;
            visibility: visible;
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
            transform: none;
            -webkit-transform: none;
            -ms-transform: none;
            min-width: inherit;
          }
        }

        a.chat-unread:before {
          content: "";
          position: absolute;
          right: 5px;
          top: 5px;
          width: 5px;
          height: 5px;
          border-radius: 10px;
          background-color: transparent;
        }

        a.chat-unread.blue:before {
          background-color: #0057ff;
        }

        a.chat-unread.pink:before {
          background-color: #ee00ab;
        }
      }
    }
  }

  ul {
    li {
      a {
        span {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 120%;
          top: 50%;
          background-color: var(--primary);
          box-shadow: 4px 4px 4px rgb(200 198 198 / 25%);
          border-radius: 2px;
          display: inline-block;
          padding: 6px 19px;
          color: #fff;
          font-size: 12px;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transition: ease all 0.5s;
          -webkit-transition: ease all 0.5s;
          -ms-transition: ease all 0.5s;

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 7px solid #420ba1;
            border-bottom: 7px solid transparent;
            position: absolute;
            left: -6px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transition: ease all 0.5s;
            -webkit-transition: ease all 0.5s;
            -ms-transition: ease all 0.5s;
          }
        }

        &:hover {
          span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.bottom-menus {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-self: flex-end;
  -webkit-align-self: flex-end;
  justify-content: center;
  -webkit-justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: block;
      text-align: center;
      position: relative;

      + li {
        margin-top: 30px;
      }

      a {
        text-align: center;

        .MuiSvgIcon-root {
          color: var(--primary);
        }
      }
    }
  }

  .add-contacts-btn {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #ee00ab;
    color: #fff;
    font-size: 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0 auto;
  }

  .dark-mode-toggle {
    width: 35px;
    height: 32px;
    background-color: rgb(0, 87, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(251, 251, 251);
    border-image: initial;
    border-radius: 5px;
    margin: 0 auto;
  }

  .chat-profile-icon {
    width: 36px;
    height: 36px;
    border-radius: 36px;

    img {
      max-width: 100%;
      border-radius: 36px;
      border: 2px solid #eeeeee;
    }
  }
}
