:root {
  --primary: #420ba1;
  --secondary: #ee00ab;
  --third: #008024;
  --text_color: #000000;
  --bg_color: #e2e8eb;
  --link_color: #2f36de;
  --link_hover_color: #de2fcf;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  padding-left: 85px;
}

.slimScrollDiv {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.slimScrollDiv::-webkit-scrollbar {
  width: 7px;
}

.slimScrollDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slimScrollDiv::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 7px;
  opacity: 0.379606;
  outline: 1px solid #cccccc;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
}
.main-wrapper .content {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #e6e6e6;
}

a {
  cursor: pointer;
}

.online {
  color: var(--third);
  font-weight: 500;
}
.online:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: -5px;
  background-color: #49e073;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.dropdown-menu {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(200, 198, 198, 0.25);
  border-radius: 4px;
  min-width: 150px;
  padding: 0;
}
.dropdown-menu .dropdown-item {
  margin: 8px 0;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  padding: 7px 14px;
  font-weight: 500;
  color: #232323;
}
.dropdown-menu .dropdown-item span {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  float: right;
  font-size: 18px;
  color: var(--primary);
}

/*# sourceMappingURL=App.css.map */
